name: build

on: [push, pull_request]

jobs:
  tests:
    
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
        
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6
        
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
        
      - name: Install dependencies
        env:
          FOSSOLOGY_VERSION: 3.11.0
        run: |
          pip install --upgrade setuptools==49.6.0
          pip install --upgrade pip==18.1
          pip install --upgrade wheel
          pip install -r "requirements.txt"
          pip install flake8 coveralls
          gem install github-linguist
          pip install bandit pylint execnet
          wget https://github.com/fossology/fossology/releases/download/${FOSSOLOGY_VERSION}/FOSSology-${FOSSOLOGY_VERSION}-ubuntu-focal.tar.gz
          tar -xzf FOSSology-${FOSSOLOGY_VERSION}-ubuntu-focal.tar.gz
          sudo apt-get update -y
          sudo apt-get -y install ./packages/fossology-common_${FOSSOLOGY_VERSION}-1_amd64.deb ./packages/fossology-nomos_${FOSSOLOGY_VERSION}-1_amd64.deb
          sudo apt-get install cloc
          eval "$(gimme stable)"
        
      - name: Install Graal
        run: ./setup.py install
        
      - name: Install requirements
        run: |
          mkdir exec
          cd exec
          go get -u github.com/boyter/scc/
          cd $GITHUB_WORKSPACE/exec/
          git clone https://github.com/nexB/scancode-toolkit.git
          cd scancode-toolkit
          git checkout -b test_scancli 96069fd84066c97549d54f66bd2fe8c7813c6b52
          ./scancode --help
          cd $GITHUB_WORKSPACE/exec/
          wget https://github.com/crossminer/crossJadolint/releases/download/Pre-releasev2/jadolint.jar
          cd $GITHUB_WORKSPACE/
        
      - name: Lint with flake8
        run: flake8 . --exclude=exec,src
        
      - name: Tests and Coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd tests
          coverage run --source=graal run_tests.py
          # --service=github is a workaround for bug
          # https://github.com/coveralls-clients/coveralls-python/issues/251
          coveralls --service=github
